@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,500,700);

html { height: 100%; }

html, body {
  background: rgb(216,217,216);
  color: #444;
  font: 14px 'Ubuntu', sans-serif;
  font-weight: 500;
}

#wrapper {
  background: rgba(255,255,255,.7);
  margin: 0 auto 0;
  min-height: 100%;
  min-width: 300px;
}

#main {
  overflow: auto;
  padding-bottom: 30px;
  -webkit-box-shadow: 0 -10px 10px rgba(0,0,0,.3);
  -moz-box-shadow: 0 -10px 10px rgba(0,0,0,.3);
  box-shadow: 0 -10px 10px rgba(0,0,0,.3);
}

h3 {
  font: 23px 'Ubuntu', sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}


/* header */
header {
  background: #7fa2b5;
  border-bottom: 5px solid #acd;
  box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
  min-height: 80px;
  padding: 10px 15px 0 25px;
}
header hgroup {
  float: left;
}
header hgroup h1 a {
  color: #fff;
  font: 34px 'Ubuntu', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #b9b9b9,
               0 2px 0 #bbb,
               0 3px 0 #a9a9a9,
               0 3px 2px rgba(0,0,0,.4),
               0 6px 1px rgba(0,0,0,.1);
}
header hgroup h2 a {
  color: #fff;
  font: 23px/1 'Ubuntu', sans-serif;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #b9b9b9,
               0 2px 0 #bbb,
               0 3px 0 #a9a9a9,
               0 3px 2px rgba(0,0,0,.4),
               0 6px 1px rgba(0,0,0,.1);
}
header ul.social {
  margin: 30px 5px 0 0;
  min-height: 35px;
  float: right;
}
header ul.social li {
  float: left;
}
header ul.social li a {
  background: #ace;
  background: -webkit-linear-gradient(bottom, #38b, #7be);
  background: -moz-linear-gradient(bottom, #38b, #7be);
  background: -ms-linear-gradient(bottom, #38b, #7be);
  background: linear-gradient(bottom, #38b, #7be);
  -webkit-box-shadow: 0 1px 0 #49c,
              0 2px 0 #4993c9,
              0 3px 0 #38b,
              0 4px 0 #3882b8,
              0 3px 2px rgba(0,0,0,.4),
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 0 #49c,
              0 2px 0 #4993c9,
              0 3px 0 #38b,
              0 4px 0 #3882b8,
              0 3px 2px rgba(0,0,0,.4),
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2);
  box-shadow: 0 1px 0 #49c,
              0 2px 0 #4993c9,
              0 3px 0 #38b,
              0 4px 0 #3882b8,
              0 3px 2px rgba(0,0,0,.4),
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2);
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 11px 6px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #666;
}
  header ul.social li:first-child a {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
  }
  header ul.social li:last-child a {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
  }
  header ul.social a:hover {
    background: #6cf;
    background: -webkit-linear-gradient(bottom, #79b, #8df);
    background: -moz-linear-gradient(bottom, #79b, #8df);
    background: -ms-linear-gradient(bottom, #79b, #8df);
    background: linear-gradient(bottom, #79b, #8df);
    -webkit-box-shadow: 0 1px 0 #7be,
                0 2px 0 #79b3e9,
                0 3px 0 #6ad,
                0 3px 2px rgba(0,0,0,.4),
                0 6px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 #7be,
                0 2px 0 #79b3e9,
                0 3px 0 #6ad,
                0 3px 2px rgba(0,0,0,.4),
                0 6px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 0 #7be,
                0 2px 0 #79b3e9,
                0 3px 0 #6ad,
                0 3px 2px rgba(0,0,0,.4),
                0 6px 1px rgba(0,0,0,.1);
    text-shadow: 0 1px 0 #888;
  }
  header ul.social a:active {
    background: #6cf;
    background: -webkit-linear-gradient(bottom, #79b, #8df);
    background: -moz-linear-gradient(bottom, #79b, #8df);
    background: -ms-linear-gradient(bottom, #79b, #8df);
    background: linear-gradient(bottom, #79b, #8df);
    -webkit-box-shadow: 0 1px 0 #38b,
                0 2px 2px rgba(0,0,0,.4),
                0 5px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 #38b,
                0 2px 2px rgba(0,0,0,.4),
                0 5px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 0 #38b,
                0 2px 2px rgba(0,0,0,.4),
                0 5px 1px rgba(0,0,0,.1);
    position: relative;
    bottom: -2px;
  }


/* content */
#content {
  border-bottom: 1px solid #c6c6c6;
  overflow: hidden;
  padding: 30px;
}
  #content .row {
    overflow: hidden;
    padding: 15px;
  }
  #content section {
    border-radius: 8px;
    cursor: default;
    margin: 0 auto 50px;
    padding: 0;
    max-width: 600px;
    position: relative;
    z-index: 9999;
  }
    #content section.last {
      padding-right: 0;
    }
  #content section h2 {
    color: #8ab;
    font: 20px/21px 'Ubuntu', sans-serif;
    font-weight: 500;
    margin: 0 5%;
    padding: 5px 0 0;
    text-shadow: 0 1px 0 #fff;
  }
    #content section h2 a {
      color: #4ab;
      font: 20px 'Ubuntu', sans-serif;
      font-weight: 500;
      text-decoration: none;
      text-shadow: 0 1px 0 #fff;
    }
      #content section h2 a:hover { color: #289; }
  #content section article {
    border-bottom: 1px solid #c6c6c6;
    margin: 0 5%;
    padding: 1em 0 5px;
  }
    #content section article a {
      color: #4ab;
      text-decoration: none;
      text-shadow: 0 1px 0 #fff;
    }
      #content section article a:hover {
        color: #289;
      }
    #content section article p {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.6;
      padding-bottom: 14px;
    }
    #content section article p:last-child { padding-bottom: 0; }
    #content section .timestamp {
      border-top: 1px solid #fff;
      color: #666;
      font-size: 11px;
      font-weight: 300;
      margin: 0 5%;
      padding: 5px 0;
    }


/* footer */
footer {
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #fff;
  clear: both;
  color: #999;
  font-size: 10px;
  font-weight: 300;
  height: 24px;
  margin: -35px auto 0;
  padding: 10px 10px 0 0;
  position: relative;
  text-align: right;
}
footer .left {
  float: left;
}
footer .right {
  float: right;
}
footer a {
  color: #4ab;
}


/* flash messages */
.flash-message {
  left: 328px;
  position: absolute;
  top: 40px;
}
  .flash-message span {
    background: #666;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    margin-right: 10px;
    padding: 2px 6px;
  }
  .flash-message.error span {
    background: #C66;
  }
  .flash-message.info span {
    background: #c6c;
  }


/* big screen */
@media screen and (min-width: 600px) {
  #content {
    padding-left: 15px;
  }
  nav {
    margin: 70px 0 0;
  }
  nav ul li {
    margin: 26px;
    text-align: right;
  }
    nav ul li a {
      background: #ace;
      border-radius: 6px;
      color: white;
      font-size: 20px;
      font-weight: 500;
      padding: 9px 14px;
      text-decoration: none;
    }
    nav ul li a:hover {
      position: relative;
      right: -2px;
    }
    nav ul li a:active {
      background: #8ac;
    }
}


/* little screen */
@media screen and (max-width: 600px) {
  header {
    height: 115px;
    padding: 10px 15px 5px 5px;
  }
  header hgroup {
    float: none;
  }
  header ul.social {
    float: none;
    margin: 13px 0 0 0;
  }
  nav {
    background: rgba(100,170,230,.8);
    height: 28px;
    left: 0;
    right: 0;
    top: 0;
  }
    nav ul {
      margin: 0 auto;
      width: 90%;
      min-width: 430px;
    }
      nav ul li {
        display: inline;
      }
          nav ul li a {
            color: white;
            display: block;
            float: left;
            font-size: 18px;
            font-weight: 500;
            height: 24px;
            margin-right: 10px;
            padding: 7px 12px 0;
            text-decoration: none;
          }
            nav ul li a:active {
              background: #79c;
            }
  #content {
    float: none;
    margin: 0 auto;
    padding: 0 5%;
  }
    #content .row { margin: 0; }
    #content section {
      border-radius: 10px;
      float: none;
      height: auto;
      margin-bottom: 5px;
      padding: 6px 0 0 0;
      width: 100%;
    }
    #content section h2 { margin: 0; }
    #content section article { margin: 0; }
    #content section ul {
      margin-left: 10%;
    }
}


/* transition effects */
ul.social a {
  -webkit-transition: all .1s linear 0s;
  -moz-transition: all .1s linear 0s;
  transition: all .1s linear 0s;
}
