html {
  background: #eee;
  color: #111;
  font-size: 16px;
}

main {
  max-width: 42em;
  margin: 2em auto 1em;
  overflow: unset;
}

h1, h2 {
  font-size: 2em;
}

article {
  margin-bottom: 1em;
  background: #fff6;
  padding: 1em;
}
article > h3 {
  font-size: 1.25em;
  margin: 0 0 0.75rem;
  position: relative;
}
article > :last-child { margin-bottom: 0 }
/* hack for badges */
article > p > a > img { opacity: 0.75 }
article > p > a:hover > img { opacity: 0.9 }

pre, code {
  background-color: #111;
  border-radius: 3px;
  border: 1px solid #333;
}

footer {
  margin: 3em 0 1em;
}

.top-bar {
  top: 0;
}

.header {
  text-align: center;
  padding: 0.5rem 0;
}
.header h1 {
  margin: 0;
  font-size: 2em;
}
.header p {
  margin: 0;
}
.avatar {
  border-radius: 50%;
}

.section-icon {
  opacity: 0.75;
}
.section-icon:hover,
.section-icon:active,
.section-icon:focus {
  opacity: 1;
  text-decoration: none;
}
.right {
  float: right;
  font-size: 1rem;
}
.right { opacity: 0.5 }
.right:hover {
  opacity: 0.9;
  text-decoration: none;
}

.bye {
  cursor: help;
}

@media screen and (min-width: 50em) {
  main {
    margin-top: 10vh;
  }
  .section-icon {
    position: absolute;
    text-align: right;
    margin-right: 0;
    width: 1.25em;
    left: -1.75em;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background: #060606;
    color: #eee;
  }
  a { color: #09f }
  blockquote { border-left: 6px solid #0006 }
  article {
    background: #2226;
  }
  article > p {
    color: #bbb;
  }
  article > p > a > img { opacity: 0.75 }
  figure img {
    background: #222c;
    border: 1px solid #333;
  }
}

@media screen and (max-width: 50em) {
  h2 {
    font-size: 1.4em;
  }
  /* badge hack */
  article > p > a > img { opacity: 0.8 }
  article > p > a > img {
    height: 18px;
  }
}
