---
layout: research
title: Open Source | Nate Goldman | Web Developer, Portland, Oregon
---

<header class="page-header">
  <h2>Open Source</h2>
</header>

{% for post in site.categories.open-source %}
<article class="item">
  <header>
    <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="detail"><time datetime="{{ page.date }}">{{ post.date | date_to_long_string }}</time></p>

    {% if post.image %}
    <figure class="screenshot">
      <img class="screenshot" src="{{ post.image }}" alt="">
    </figure>
    {% endif %}

    <!-- <p class="detail">Client: <a href="http://www.symantec.com/">Symantec</a></h4>
    <p class="detail">Agency: <a href="http://finedesigngroup.com">Fine</a></p> -->
  </header>

  {{ post.description }}
</article>
{% endfor %}
