@import url(http://fonts.googleapis.com/css?family=Varela+Round);

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  background: #fafafa;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Type & Layout
-------------------------------------------------- */

#wrap > .container {
  padding: 15px 15px 45px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: -1px;
}

.content {
  padding-bottom: 50px;
}

code {
  font-size: 80%;
}

.page-header {
  background: #fff;
  margin-top: 0;
  padding: 30px 20px;
  border-bottom: none;
  box-shadow: 0 2px 5px rgba(0,0,0,.05);
}
.page-title {
  margin: 0;
  text-align: center;
}

/* Navigation
-------------------------------------------------- */

.navbar {
  background-color: #00b9f2;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.05);
  margin-bottom: 0;
  border: none;
}

.navbar-brand {
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  background-color: #00a9e2;
  color: #fff;
  cursor: default;
}

.navbar-toggle {
  border-color: #fff;
  color: #fff;
  margin: 5px 5px 0 0;
}
.navbar-toggle:hover {
  background-color: #fff;
  color: #00b9f2;
}

.navbar-nav>li>a:hover {
  background-color: #00a9e2;
  background-color: #009ad1;
}

.social {
  color: #fff;
}

.social li>a>i {
  font-size: 20px;
  color: #fff;
}

.collapse-text {
  display: none;
}

@media (max-width: 767px) {
  .navbar-collapse .collapse-text {
    display: inline;
    font-size: 16px;
  }
  .social li>a>i {
    margin-right: 5px;
  }
}

/* Objects
-------------------------------------------------- */

.card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,.05);
  margin: 10px auto;
  max-width: 500px;
  padding: 15px 30px 30px;
}

/* Footer
-------------------------------------------------- */

#footer .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
