<footer class="site group">
  <div class="container">
    <ul class="nav pull-left">
      <li><a href="/"><i class="icon-home"></i> <span class="text">Home</span></a></li>
      <li><a href="/lab"><i class="icon-beaker"></i> <span class="text">Lab</span></a></li>
      <li><a href="/about"><i class="icon-user"></i> <span class="text">About</span></a></li>
    </ul>

    <ul class="nav pull-right">
      <li><a href="http://twitter.com/n8ji" target="_blank"><i class="icon-twitter"></i></a></li>
      <li><a href="http://github.com/ngoldman" target="_blank"><i class="icon-github"></i></a></li>
      <li><a href="http://linkedin.com/in/nategoldman" target="_blank"><i class="icon-linkedin"></i></a></li>
      <li><a href="mailto:nate@ngoldman.me" target="_blank"><i class="icon-envelope-alt"></i></a></li>
    </ul>
  </div>
</footer>
