<footer class="site group">
  <div class="container">
    <ul class="nav pull-left">
      <li><a href="/"><i class="icon-home"></i> <span class="text">Home</span></a></li>
      <li><a href="/lab"><i class="icon-beaker"></i> <span class="text">Lab</span></a></li>
      <li><a href="/about"><i class="icon-user"></i> <span class="text">About</span></a></li>
    </ul>

    <ul class="nav pull-right">
      <li><a rel="me" href="https://twitter.com/ungoldman"><i class="icon-twitter"></i></a></li>
      <li><a rel="me" href="https://github.com/ngoldman"><i class="icon-github"></i></a></li>
      <li><a rel="me" href="mailto:nate@ngoldman.me"><i class="icon-envelope-alt"></i></a></li>
    </ul>
  </div>
</footer>
