<header class="site hero-unit group">
  <div class="container">
    <div class="wrapper">
      <div class="viewport" rel="tooltip" data-placement="bottom" data-original-title="Use the arrow keys (&rarr; &darr; &larr; &uarr;)<br/>to move me around!">
        <div class="cube">
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
        </div>
      </div>

      <div class="static">
        <i class="icon-logo">&nbsp;</i>
      </div>

      <div class="meta">
        <h1 class="name">Nate Goldman</h1>
        <p class="tagline">Web Engineer</p>
      </div>
    </div>
  </div>
</header>
