.navbar {
  margin-bottom: 0;
}

.navbar .navbar-inner {
  border-radius: 0;
}

.navbar .brand {
  font-family: 'Exo', 'Maven Pro', arial, helvetica, sans-serif;
  font-weight: 600;
  color: #ccc;
}

.navbar .brand:hover {
  color: #fff;
}
