<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta property="og:title" content="Nate Goldman | Web Developer, Portland, Oregon">
<meta property="og:type" content="website">
<meta property="og:url" content="http://ngoldman.me">
<meta property="og:image" content="http://ngoldman.me/img/og_image.png">
<meta property="og:site_name" content="http://ngoldman.me">
<meta property="og:description" content="Internet wizard for hire.">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Exo:400,600,700|Open+Sans:400,300,600,700" type="text/css">
<link rel="stylesheet" href="/css/all.css" type="text/css">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>

<div id="main">
  {{ content }}
</div>

{% include partials/footer.html %}

<script type="text/javascript" src="/js/all.js"></script>

{% include partials/ga.html %}

</body>
</html>
