<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ ngoldman.github.com }}</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <header>
    <h1>{{ page.title }}</h1>
    <hr/>
  </header>

  <section class="content">
  {{ content }}
  </section>

  <section class="profile">
    <ul>
      <li class="name">Nate Goldman</li>
      <li class="link"><a href="http://github.com/ngoldman" target="_top">Web Developer</a></li>
      <li class="secondary">HTML/CSS/JS/Ruby</li>
      <li class="secondary">Portland, OR</li>
      <li class="link"><a href="http://resume.ngoldman.me/">resume</a></li>
      <li class="link">@<a href="http://twitter.com/n8ji" target="_top">n8ji</a></li>
    </ul>
  </section>
</body>
</html>
