---
layout: default
---

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">nate goldman</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <a href="/work"><i class="icon-wrench"></i> Work</a>
          </li>
          <li>
            <a href="/lab">
              <i class="icon-beaker"></i> Lab
            </a>
          </li>
          <li>
            <a href="/about">
            <i class="icon-user"></i> About
            </a>
          </li>
        </ul>
        {% include partials/social_nav.html %}
      </div>
    </div>
  </div>
</div>

<header class="site hero-unit group">
  <div class="container">
    <div class="wrapper">
      <div class="viewport" rel="tooltip" data-placement="bottom" data-original-title="Use the arrow keys (&rarr; &darr; &larr; &uarr;)<br/>to move me around!">
        <div class="cube">
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
          <div><!-- <i class="icon-logo">&nbsp;</i> --></div>
        </div>
      </div>

      <div class="static">
        <i class="icon-logo">&nbsp;</i>
      </div>

      <div class="meta">
        <h1 class="name">Hi, I'm Nate Goldman.</h1>
        <p class="tagline">I'm a web developer and I like maps, games, and data.</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <section id="content">
    {{ content }}
  </section>
</div>
