---
layout: default
---

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">nate goldman</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <a href="/work"><i class="icon-wrench"></i> Work</a>
          </li>
          <li>
            <a href="/lab">
              <i class="icon-beaker"></i> Lab
            </a>
          </li>
          <li>
            <a href="/about">
            <i class="icon-user"></i> About
            </a>
          </li>
        </ul>
        {% include partials/social_nav.html %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <section id="content">
    <div class="post">
      <header class="page-header">
        <h2>
          {% case page.category %}
            {% when 'work' %}
              <i class="icon-wrench"></i>
            {% when 'lab' %}
              <i class="icon-beaker"></i>
          {% endcase %}
          {{ page.title }}
          <span class="timestamp pull-right">{{ page.date | date: "%B %Y" }}</span>
        </h2>
      </header>
      {% if page.site %}
      <p class="pull-left"><a href="{{ page.site }}" target="_blank"><i class="icon-external-link"></i> Visit Site</a></p>
      {% endif %}
      {% if page.source %}
      <p class="pull-right">
        <a href="{{ page.source }}" target="_blank"><i class="icon-github"></i> View Source Code</a>
      </p>
      {% endif %}
      {% if page.image %}
      <img src="{{ page.image }}" alt="">
      {% endif %}
      <article>
        {{ content }}
      </article>
      <hr>
      <div class="details group">
        {% if page.client %}
        <p class="pull-left">
          Client:
          <a href="{{ page.client-site }}">{{ page.client }}</a>
        </p>
        {% endif %}
        {% if page.agency %}
        <p class="pull-right">
          Agency:
          <a href="{{ page.agency-site }}">{{ page.agency }}</a>
        </p>
        {% endif %}
      </div>
    </div>
  </section>
</div>
