---
layout: default
---

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">nate goldman</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active">
            <a href="/work.html"><i class="icon-wrench"></i> Work</a>
          </li>
          <li>
            <a href="/lab.html">
              <i class="icon-beaker"></i> Lab
            </a>
          </li>
          <li>
            <a href="/about.html">
            <i class="icon-book"></i> About
            </a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <a href="http://twitter.com/n8ji" target="_blank">
              <i class="icon-twitter"></i>
              <span class="text">Twitter</span>
            </a>
          </li>
          <li>
            <a href="http://github.com/ngoldman" target="_blank">
              <i class="icon-github"></i>
              <span class="text">Github</span>
            </a>
          </li>
          <li>
            <a href="http://linkedin.com/in/nategoldman" target="_blank">
              <i class="icon-linkedin"></i>
              <span class="text">Linkedin</span>
            </a>
          </li>
          <li>
            <a href="mailto:nate@ngoldman.me" target="_blank">
              <i class="icon-envelope-alt"></i>
              <span class="text">Email</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <section id="content">
    {{ content }}
  </section>
</div>
